body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 2;
}

textarea {
    border: none;
    background: transparent;
    resize: none;
    border-left: 1px solid black;
    padding: 10px;
}
.jumbotron {
    text-align: center;
    color: black;
    background-color: pink;
    border-radius: 0;
    border-bottom: 10px black;
}
.col-md-1 {
    color: purple;
}
.display-3 {
    font-family:'Times New Roman', Times, serif;


}

.lead {
    font-style: italic;
    color: white;

}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 15px;

}
.hour {
    background-color: pink;
    color: #000;
    border-top: 1px dashed black;
}
.present {
    background-color: green;
    color: white;
}
.past {
    background-color: turquoise;
    color: white;
}

.future {
    background-color: tomato;
    color: white;

}

.saveBtn {
    border-left:  1px solid black;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: aqua;
    color: white;
}
.saveBtn i:hover {
    font-size: 21px;
    transition: all .3s ease-in-out;
}